@model IEnumerable<NowOnline.AppHarbor.WebSite.Models.ApplicationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of applications</h2>

@foreach (var item in Model)
{
    <div class="row">
        @Html.DisplayFor(modelItem => item.Name), by team: 
        @Html.DisplayFor(modelItem => item.TeamName)
    </div>
}
